<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springkorea.project.board.dao.BoardDao">
	
	<sql id="boardColumns">
		  BOARD_NAME
		, BOARD_NO
		, TITLE
		, CONTENTS
		, REPLY_GROUP
		, REPLY_STEP
		, REPLY_DEPTH
		, FILE_GROUP
		, DATE_FORMAT(REG_DATE, '%Y-%m-%d') AS REG_DATE
		, REG_USER
		, DATE_FORMAT(MOD_DATE, '%Y-%m-%d') AS MOD_DATE
		, MOD_USER
	</sql>
	
	<select id="selectListBoard" parameterType="hashmap" resultType="hashmap">
		SELECT /* selectListBoard */
			  <include refid="boardColumns"/>
		FROM 
			BOARD
		WHERE
			BOARD_NAME = #{boardName}
		ORDER BY
			BOARD_NAME ASC
			, BOARD_NO DESC
		LIMIT
			#{startRow, typeHandler=mapperIntCastUtil}, #{blockCount, typeHandler=mapperIntCastUtil}
	</select>
	
	<select id="selectListBoardCount" parameterType="hashmap" resultType="int">
		SELECT	/* selectListBoardCount */
			COUNT(*) AS CNT
		FROM
			BOARD
		WHERE
			BOARD_NAME = #{boardName}
	</select>
	
	<insert id="insertBoard" parameterType="hashmap">
		<selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
			SELECT
				IFNULL(MAX(BOARD_NO),0) + 1
			FROM
				BOARD
			WHERE
				BOARD_NAME = #{boardName}
		</selectKey>
		
		INSERT INTO BOARD
		(
			BOARD_NAME
			, BOARD_NO
			, TITLE
			, CONTENTS
			, REPLY_GROUP
			, REPLY_STEP
			, REPLY_DEPTH
			, FILE_GROUP
			, REG_USER
			, MOD_USER
		)
		VALUES(
			#{boardName}
			, #{boardNo}
			, #{title}
			, #{contents}
			, 0
			, 0
			, 0
			, 0
			, 'REG_USER'
			, 'MOD_USER'
		)
	</insert>
</mapper>
